.media {
    transition: all 0.3s ease-in-out;
}

.media:hover {
    background-color: #FF6E68;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}
